

h1.ex1{background-color: orange; color: white;}

span.ex2{font-weight: bold;}

span.ex3{text-decoration: underline wavy;}

span.ex4{background-color: lightblue; color: black;}

span.ex5{text-decoration: underline solid;}

ol.ex6{border: 1px solid black; margin: 1ex; padding: 2em; background: whitesmoke;}
